@model MusiCodeWebApp.Models.Product
@section styles
{
    <link href="~/Areas/ManagerPanel/Assets/css/FormStyle.css" rel="stylesheet" />
    <style>
        .sol {
            float: left;
            width: 710px;
            margin-right: 10px;
        }

        .sag {
            float: left;
            width: 710px;
            margin-left: 20px;
        }
    </style>
}
<div class="formContainer">
    @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (ViewBag.mesaj != null)
        {
            <label class="validationmesage">@ViewBag.mesaj</label>
        }
        <div class="row">
            <label>Isim</label>
            @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "textbox" } })
            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "validationmesage" })
        </div>
        <div class="row">
            <label>Kategori Seçiniz</label>
            @Html.DropDownList("Category_ID", null, htmlAttributes: new { @class = "textbox" })
        </div>
        <div class="row">
            <label>Marka Seçiniz</label>
            @Html.DropDownList("Brand_ID", null, htmlAttributes: new { @class = "textbox" })
        </div>
        <div class="row">
            <label>Açıklama</label>
            @Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "textbox" } })
            @Html.ValidationMessageFor(x => x.Description, "", new { @class = "validationmesage" })
        </div>
        <div class="row">
            @Html.EditorFor(x => x.IsActive, new { htmlAttributes = new { @id = "isActive" } })
            <label for="isActive"> Aktif Ürün</label>
        </div>
        <div class="row">
            @Html.EditorFor(x => x.IsRecent, new { htmlAttributes = new { @id = "IsRecent" } })
            <label for="IsRecent"> Önerilen Ürün</label>
        </div>

       
        <div class="row">
            <button type="submit" class="formbutton">Ürün Ekle</button>
        </div>
    }
</div>

